<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="2154537f-b824-4fe2-8e98-13f7da77a00d" name="Mick0433s Kind Opossum" alias="mick0433s-kind-opossum" type="Starter" color="" url="https://www.s1.umbraco.io/project/mick0433s-kind-opossum" trialExpireDate="2018-07-11T14:05:09">
  <environment type="live" name="Live" id="7c22deb9-a694-4bef-8127-edd53c07e32e">https://mick0433s-kind-opossum.s1.umbraco.io</environment>
</environments>